body{
    /* display:flex;
    flex-direction: column; */
    height: 100%;
}

nav{
    background-color: #EEEEFB;
}

footer{
    width: 100%;
    padding: 30px;
    background-color: #EEEEFB;
    position: relative;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -150px;
  padding: 0 0 200px;
}

a, li{
    text-decoration: none !important;
}

.footer-link{
    color: black !important;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 1.5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.footer-link :hover{
    color: rgba(0,0,0,.55) !important;
}

.icon{
    width: 16px;
    height: 16px;
}

.first-footer-col{
    width: 220px !important;
}

.headshot{
    width: 303px !important;
    height: 335px;
    border-radius: 50%;
}

.headshot-col{
    width: 303px !important;
    justify-content: center !important;
    display: flex;
    flex-direction: column;
}

.body-container{
    margin: 30px;
}

.badge{
    font-size: 16px !important;
}

.bg{
    background-color: #f4f2f8 !important;
    margin-top: 5px;
}

.skill-header{
    margin-top: 20px;
}

.skills-header-div{
    width: 80px;
    display: inline-block;
}

.skills-page-header{
    display: inline-block;
    margin-right: 5px;
}

.collapse{
    margin:10px;
}

.tooltiptext {
    visibility: hidden;
    width: 225px;
    background-color: #8B8BE4;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.skills-header-div:hover .tooltiptext {
    visibility: visible;
}

.resume-container{
    margin:20px;
}

.resume-header{
    margin-bottom:20px;
}