nav .nav-link {
    color: #FFFFFF;
    text-transform: capitalize;
}

nav .nav-link:focus,
nav .nav-link:hover{
    outline: none;
    color: rgb(255, 255, 255, 0.7);
}

footer .nav-link:focus,
footer .nav-link:hover{
    outline: none;
    color: rgb(255, 255, 255, 0.7);
}

.active {
    font-weight: 700;
    background-color: rgb(255, 255, 255, 0.2);
}

footer .nav-link {
    color: #FFFFFF;
    font-size: 0.8rem;
}

.icon {
    height: 1rem;
    width: auto;
    padding-right: 5px;
}

body{
    display:flex;
    flex-direction: column;
    height: 100%;
}

body #main {
    padding: 50px;
    background-color: #f5f5f7;
    min-height: 100vh;
}

.headshot {
    width: 323px;
}

.headshot-col{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headshot-header{
    color:black;
    font-size: 53.5;
    font-weight: 700;
}

.headshot-subheader{
    color:black;
    font-size: 36;
    font-weight: 700;
}

.btn.bg{
    background-color: #000000;
    margin-top: 5px;
    color:white;
    font-size: 1.1rem
}

.btn.bg:hover{
    background-color: rgb(0, 0, 0, 0.65);
    color: white;
}

.resume{
    width:100%
}

.resume-div{
    padding: 20px;
    background-color: black;
}

#main .card {
    border: none;
    border-radius: 18px;
    margin: 10px 0 10px 0;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.experience-card {
    padding: 30px;
}

.card h5 {
    font-weight: 600;
}

.btn-group-sm {
    background-color: black;
    width: max-content;
}

label.btn {
    color: white;
    margin: 3px;
}

label.btn:hover,
label.btn:focus {
    color: gray;
    outline: none;
}

label.btn:active, .btn-check:checked+.btn {
    color: black;
    background-color: white;
}

.project-picture {
    border-radius: 18px 18px 0 0;
}

.resume-download {
    margin-bottom: 10px;
}