<!DOCTYPE>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3b6784d0cb.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }} "/>
    {% block header %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <title>{% block title %} {% endblock %}</title>

  <body>
    <div id="content">
      <div id="sidebar">

      </div>
      <div id="main">
        {% block body %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>

</html>