{% extends "base.html" %}

{% block title %} BRITNI CANALE | EDUCATION {% endblock %}

{% block body %}
<div class = "col"> 
    <div class="education-header-div">
        <h3 class = "education-page-header"> Education </h3>  
    </div>
    <div class="card education-card shadow mb-3">
        <div class="row g-0">
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Cornell University, College of Engineering</h5>
                    <span>Bachelors of Science in Computer Science</span><br>
                    <span>Minor in Spanish</span><br>
                    <span class="education-date">Expected Graduation May 2023</span><br>
                    <span class="education-loc">Ithaca, NY</span><br>
                    <p class="card-text courses">
                        Relevant Courses:
                        <ul>
                            <li>
                                Object Oriented Programming & Data Structures
                                <ul>
                                    <li class="fst-italic">
                                        Java
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Discrete Structures — Honors
                            </li>
                            <li>
                                The Computing Technology Inside Your Smartphone
                            </li>
                            <li>
                                Data Structures & Functional Programming
                                <ul>
                                    <li class="fst-italic">
                                        OCaml
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card education-card shadow mb-3">
        <div class="row g-0">
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Stuyvesant High School</h5>
                    <span class="education-date">September 2015 - May 2019</span><br>
                    <span class="education-loc">New York, NY</span><br>
                    <p class="card-text courses">
                        Relevant Courses:
                        <ul>
                            <li>
                                Intro to Computer Science
                                <ul>
                                    <li class="fst-italic">
                                        Racket, Netlogo
                                    </li>
                                </ul>
                            </li>
                            <li>
                                AP Computer Science - Data Structures and Algorithms
                                <ul>
                                    <li class="fst-italic">
                                        Java
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Software Development
                                <ul>
                                    <li class="fst-italic">
                                        Python, Flask, CSS, HTML, Javascript, SQLite3
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
