{% extends "base.html" %}

{% block title %} BRITNI CANALE | EXPERIENCE {% endblock %}

{%block body%}
<h3> Experience </h3> 
<div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="all" autocomplete="off" onClick="showAllExperience()" checked>
    <label class="btn btn-outline-secondary" for="all" onClick="showAllExperience()">Show All Experience</label>
    
    <input type="radio" class="btn-check" name="btnradio" id="programming" autocomplete="off" onClick="showProgrammingExperience()">
    <label class="btn btn-outline-secondary" for="programming" onClick="showProgrammingExperience()">Show Programming Experience</label>
    
    <input type="radio" class="btn-check" name="btnradio" id="general" autocomplete="off" onClick="showGeneralExperience()"> 
    <label class="btn btn-outline-secondary" for="general" onClick="showGeneralExperience()">Show General Experience</label>
    </div>
<div class = "shadow card experience-card all programming">
    <div class = "row g-0">
        <div class = "col-sm-6 experience-col">
            <h5 class="fst-bold experience-text">Technology Summer Analyst, <span class="company">Morgan Stanley</span></h5>
            <h6 class="fst-italic experience-text">June 2021 - Present</h6>
            <h6 class=" experience-text">New York, NY</h6>
        </div>

        <div class = "about col mx-auto">
            <div class="about-text">
                <ul>
                    <li>
                        Joined a new Agile software development team.
                    </li>
                    <li>
                        Worked on a client-facing application to create a secure document upload.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class = "shadow card experience-card all general">
    <div class = "row g-0">
        <div class = "col-sm-6 experience-col">
            <h5 class="fst-bold experience-text">Fitness Monitor, <span class="company">Cornell Fitness Centers</span></h5>
            <h6 class="fst-italic experience-text">April 2021 - Present</h6>
            <h6 class=" experience-text">Ithaca, NY</h6>
        </div>

        <div class = "about col mx-auto">
            <div class="about-text">
                <ul>
                    <li>
                        Monitor activities at Cornell Fitness Centers.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class = "shadow card experience-card all general">
    <div class = "row g-0">
        <div class = "col-sm-6 experience-col">
            <h5 class="fst-bold experience-text">Supervisor, <span class="company">Cornell Intramural Sports</span></h5>
            <h6 class="fst-italic experience-text">February 2021 - Present</h6>
            <h6 class=" experience-text">Ithaca, NY</h6>
        </div>

        <div class = "about col mx-auto">
            <div class="about-text">
                <ul>
                    <li>
                        Host online events for Cornell Intramural Sports.
                    </li>
                    <li>
                        Supervise in-person recreation and intramural sports.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class = "shadow card experience-card all general">
    <div class = "row g-0">
        <div class = "col-sm-6 experience-col">
            <h5 class="fst-bold experience-text">Tutor, <span class="company">Cornell Engineering Learning Initiatives</span></h5>
            <h6 class="fst-italic experience-text">February 2021 - Present</h6>
            <h6 class="experience-text">Ithaca, NY</h6>
        </div>

        <div class = "about col mx-auto">
            <div class="about-text">
                <ul>
                    <li>
                        Tutor students in multivariable calculus and physics.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class = "shadow card experience-card all programming">
    <div class = "row g-0">
        <div class = "col-sm-6 experience-col">
            <h5 class="fst-bold experience-text">Fall Technology Intern, <span class="company">Morgan Stanley</span></h5>
            <h6 class="fst-italic experience-text">September 2020 - December 2020</h6>
            <h6 class=" experience-text">New York, NY</h6>
        </div>

        <div class = "about col mx-auto">
            <div class="about-text">
                <ul>
                    <li>
                        Rejoined same team from Summer 2020.
                    </li>
                    <li>
                        Fixed bugs and added updates to the application.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class = "shadow card experience-card all programming">
    <div class = "row g-0">
        <div class = "col-sm-6 experience-col">
            <h5 class="fst-bold experience-text">Technology Summer Analyst, <span class="company">Morgan Stanley</span></h5>
            <h6 class="fst-italic experience-text">June 2020 - August 2020</h6>
            <h6 class=" experience-text">New York, NY</h6>
        </div>

        <div class = "about col mx-auto">
            <div class="about-text">
                <ul>
                    <li>
                        Worked on an Agile software development team on an application with over 400 users in over 10 countries.
                    </li>
                    <li>   
                        Participated in daily scrum-style standup and planning and implementation discussions with product owner.
                    </li>
                    <li>
                        Tracked progress with Jira.
                    </li>
                    <li>
                        Created a read-only tech role for the production environment, allowing tech users to access it. 
                    </li>
                    <li>
                        Used AngularJS, TypeScript, JavaScript and Java.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{%endblock%}