{% extends "base.html" %}

{% block title %} BRITNI CANALE | ABOUT ME {% endblock %}

{% block body %}
<div class = "shadow card headshot-card mx-auto">
    <div class = "headshot-col ">
        <img class = "headshot mx-auto" src="static/BritniCanale2.jpeg"/>
        <h1 class="mx-auto headshot-header text-uppercase" >Britni Canale</h1>
        <h5 class="mx-auto headshot-subheader text-uppercase fst-italic text-center" >Undergraduate Software Developer</h5>
    </div>
</div>

<div class = "shadow card about-me-card mx-auto">
    <div class = "text-center">
        <h4 class="mx-auto text-uppercase text-center" >Learn More</h4>
        <a class="btn btn-sm rounded-pill bg text-dark about-me-btn text-uppercase" href="/experience" role="button">
            Experience
        </a>
        <a class="btn btn-sm rounded-pill bg text-dark about-me-btn text-uppercase" href="/projects" role="button">
            Projects
        </a>
        <a class="btn btn-sm rounded-pill bg text-dark about-me-btn text-uppercase" href="/education" role="button">
            Education
        </a>
    </div>
</div>

{% endblock %} 
