{% extends "base.html" %}

{% block title %} BRITNI CANALE | ABOUT ME {% endblock %}

{% block body %}
<div class = "shadow card headshot-card mx-auto">
    <!-- <div class = "row g-0"> -->
        <div class = "headshot-col ">
            <img class = "headshot mx-auto" src="static/BritniCanale2.JPEG"/>
            <h1 class="mx-auto headshot-header text-uppercase" >Britni Canale</h1>
            <h5 class="mx-auto headshot-subheader text-uppercase fst-italic text-center" >Undergraduate Software Developer</h5>
        </div>

        <!-- <div class = "about-me col mx-auto">
            <div class="about-me-text top-50">

                <p class = "align-middle">
                    Hello! I'm Britni and I'm a junior at Cornell University. On campus, I have three part-time jobs involving campus recreation and education. I'm also involved in Cornell Tradition, an organization dedicated to service and work. I grew up in Queens, New York, with my parents and sister. I have a dog and several fish. In my free time, I enjoy working out, going fishing, cooking, baking, and spending time in nature. 
                </p>
            </div>
        </div> -->
    <!-- </div> -->

</div>

<div class = "shadow card about-me-card mx-auto">
    <div class = "text-center">
        <h4 class="mx-auto text-uppercase text-center" >Learn More</h4>
        <a class="btn btn-sm rounded-pill bg text-dark about-me-btn text-uppercase" href="/experience" role="button">
            Experience
        </a>
        <a class="btn btn-sm rounded-pill bg text-dark about-me-btn text-uppercase" href="/projects" role="button">
            Projects
        </a>
        <a class="btn btn-sm rounded-pill bg text-dark about-me-btn text-uppercase" href="/education" role="button">
            Education
        </a>
    </div>
</div>

<div class = "shadow card about-me-card mx-auto">
    <div class = "">
        <h4 class="mx-auto text-uppercase text-center about-me-header" >About Me</h4>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-map-marker-alt" aria-hidden="true"></i></div> 
            <div class="col">I grew up in Flushing, NY, with my parents and younger sister.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-book" aria-hidden="true"></i></div> 
            <div class="col">I attend Cornell University.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-graduation-cap" aria-hidden="true"></i></div> 
            <div class="col">I graduated from Stuyvesant High School, which is where I first was introduced to computer science.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-code" aria-hidden="true"></i></div> 
            <div class="col">I am studying Computer Science.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-code-branch" aria-hidden="true"></i></div> 
            <div class="col">My primary interest in computer science is full-stack web development. However, I also want to broaden my horizons and learn more about mobile application development, database management, and artificial intelligence.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-globe-americas" aria-hidden="true"></i></div> 
            <div class="col">I am minoring in Spanish.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-paw" aria-hidden="true"></i></div> 
            <div class="col">I have a dog named Riley and several fish. I love animals.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-dumbbell" aria-hidden="true"></i></div> 
            <div class="col">My favorite way to exercise is by weightlifting.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-utensils" aria-hidden="true"></i></div> 
            <div class="col">I really enjoy cooking and baking, especially trying new recipes from different cultures.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-fish" aria-hidden="true"></i></div> 
            <div class="col">One of my favorite pasttimes is fishing with my dad off the beach.</div>
        </div>
        <div class="row align-items-center about-me-row">
            <div class = "icon-col"><i class = "about-me-icon fas fa-basketball-ball" aria-hidden="true"></i></div> 
            <div class="col">I played basketball from age 4 to age 18.</div>
        </div>
    </div>
</div>
{% endblock %} 
