{% extends "base.html" %}



{% block heading %}

Welcome!  <!--welcomes user-->
    
{% endblock %}


{% block body %}
<div class="container body-container">
    <div class="row justify-content-sm-center align-items-center">

        <div class = "col headshot-col justify-content-sm-center">
            <img class = "headshot mx-auto" src="static/Britni_Canale_Technology_NA.JPEG">
        </div>

        <div class = "col-lg-7 col-sm-10 mx-auto">
            <div class="about-me">
                <h3>
                    About Me
                </h3>

                <p>
                    Hello! I'm Britni and I'm a junior at Cornell University. I'm an aspiring software engineer, and I discovered my love of programming over four years ago in high school. Now, I'm working towards my Bachelors of Science in Computer Science, with a minor in Spanish. On campus, I have three part-time jobs involving campus recreation and education. I'm also involved in Cornell Tradition, an organization dedicated to service and work. I grew up in Queens, New York, with my parents and sister. I have a dog and several fish. In my free time, I enjoy working out, going fishing, cooking, baking, and spending time in nature. 
                </p>
            </div>
        </div>



    </div>
</div>

{% endblock %} 
