{% extends "base.html" %}

{% block body %}
<div class = "col"> 
    <div class="projects-header-div">
        <h3 class = "projects-page-header"> Projects </h3>  
    </div>
    <div class="container row gx-2">
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/PersonalWebsite.png">
                    <div class="card-body">
                        <h5 class="card-title">Personal Website</h5>
                        <a class = "project-link" href="https://britnicanale.com">britnicanale.com</a> <br>
                        <span class="project-date">June 2021</span>
                        <p class="card-text">This project is my personal website, which you are currently viewing. I developed this website as a personal project. I used Python, with Flask as a microframework. I also used HTML, CSS, and JavaScript on the front-end. Finally, I used Bootstrap to style the website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/GameofLife.png">
                    <div class="card-body">
                        <h5 class="card-title">Game Of Life</h5>
                        <a class = "project-link" href="https://github.coecis.cornell.edu/bpc72/GameOfLife">github.coecis.cornell.edu/bpc72/GameOfLife </a> <br>
                        <span class="project-date">May 2021</span>
                        <p class="card-text">This project was my final project for my Data Structures and Functional Programming class. I completed this project with a team of two other classmates. The game is modeled after the Game of Life board game.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/Minesweeper.png">
                    <div class="card-body">
                        <h5 class="card-title">Minesweeper</h5>
                        <a class = "project-link" href="https://canale-minesweeper.herokuapp.com">canale-minesweeper.herokuapp.com</a><br>
                        <span class="project-date">September 2020</span>
                        <p class="card-text">This project is a personal project I created for more practice with JavaScript. The project is programmed using JavaScript, HTML, and CSS.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/Balance.png">
                    <div class="card-body">
                        <h5 class="card-title">Balance</h5>
                        <a class = "project-link" href="https://balancebudget.herokuapp.com">balancebudget.herokuapp.com</a> <br>
                        <span class="project-date">July 2019</span>
                        <p class="card-text">This project is the final project I created for the program FinTech Focus which I participated in over the summer after my senior year of high school. This is a Flask application, which uses Python, JavaScript, HTML and CSS.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/TanksGame.png">
                    <div class="card-body">
                        <h5 class="card-title">Tanks Game</h5>
                        <a class = "project-link" href="https://github.com/britnicanale/Final-Project-Tanks">github.com/britnicanale/Final-Project-Tanks </a> <br>
                        <span class="project-date">June 2018</span>
                        <p class="card-text">Two-player simple tanks game built as final project for AP Computer Science — Data Structures and Algorithms. This project was made with Java and Processing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}