{% extends "base.html" %}

{% block title %} BRITNI CANALE | PROJECTS {% endblock %}

{% block body %}
<div class = "col"> 
    <div class="projects-header-div">
        <h3 class = "projects-page-header"> Projects </h3>  
    </div>
    <div class="container row gx-2">
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/PersonalWebsite.png">
                    <div class="card-body">
                        <h5 class="card-title">Personal Website</h5>
                        <a class = "project-link" href="https://britnicanale.com">britnicanale.com</a> <br>
                        <span class="project-date">June 2021</span>
                        <p class="card-text">This project is my personal website, which you are currently viewing. I developed this website as a personal project, so I could practice my web development skills. </p>
                        <div class="fst-italic">Technologies Used:</div>
                        <ul>
                            <li>Python</li>
                            <li>Flask</li>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/GameofLife.png">
                    <div class="card-body">
                        <h5 class="card-title">Game Of Life</h5>
                        <a class = "project-link" href="https://github.coecis.cornell.edu/bpc72/GameOfLife">github.coecis.cornell.edu/bpc72/GameOfLife </a> <br>
                        <span class="project-date">May 2021</span>
                        <p class="card-text">This project was my final project for my Data Structures and Functional Programming class. I completed this project with a team of two other classmates. The game is modeled after the Game of Life board game. This project allowed be to practice and enhance my functional programming skills. Additionally, since we worked as an Agile team to build this project, I was able to practice the process of iterative improvements with this project as well.</p>
                        <div class="fst-italic">Technologies Used:</div>
                        <ul>
                            <li>OCaml
                                <ul>
                                    <li>OCaml Graphics Library</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/Minesweeper.png">
                    <div class="card-body">
                        <h5 class="card-title">Minesweeper</h5>
                        <a class = "project-link" href="https://canale-minesweeper.herokuapp.com">canale-minesweeper.herokuapp.com</a><br>
                        <span class="project-date">September 2020</span>
                        <p class="card-text">This project is a personal project I created so I could get more practice working with with JavaScript after I first learned it during my internship.</p>
                        <div class="fst-italic">Technologies Used:</div>
                        <ul>
                            <li>Javascript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/Balance.png">
                    <div class="card-body">
                        <h5 class="card-title">Balance</h5>
                        <a class = "project-link" href="https://balancebudget.herokuapp.com">balancebudget.herokuapp.com</a> <br>
                        <span class="project-date">July 2019</span>
                        <p class="card-text">This project is the final project I created for the program FinTech Focus which I participated in over the summer after my senior year of high school. This project was the culmination of three weeks of courses in web development, and allowed me to put what I learned to action. My teammates and I completed this web application in four days.</p>
                        <div class="fst-italic">Technologies Used:</div>
                        <ul>
                            <li>Python</li>
                            <li>Flask</li>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class = " col-xl-4 col-md-6 col-xs-12">
            <div class="card project-card shadow mb-3">
                <div class="row g-0">
                    <img class = "project-picture" src="static/TanksGame.png">
                    <div class="card-body">
                        <h5 class="card-title">Tanks Game</h5>
                        <a class = "project-link" href="https://github.com/britnicanale/Final-Project-Tanks">github.com/britnicanale/Final-Project-Tanks </a> <br>
                        <span class="project-date">June 2018</span>
                        <p class="card-text">Two-player simple tanks game built as final project for AP Computer Science — Data Structures and Algorithms. During this project I practiced my Java skills, and this was my first major programming project.</p>
                        <div class="fst-italic">Technologies Used:</div>
                        <ul>
                            <li>Java</li>
                            <li>Processing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}