{% extends "base.html" %}

{% block body %}
<div class = "container resume-container">
    <div class = "resume-header-div">
        <h3 class = "resume-header"> 
            Resume 
            <a class = "resume-download" href="static/CanaleBritniResume.pdf" download> 
                <div class="download-tooltip tooltiptext">Click to download</div>
                <i class = "fas fa-download"></i>
            </a>
        </h3> 
    </div>
    <div class = "row justify-content-center">
        <div class = "resume-div col">
            <img class = "resume" src="static/CanaleBritniResume.jpg"/>
        </div>
    </div>
</div>
{% endblock %} 
