{% extends "base.html" %}

{% block title %} BRITNI CANALE | RESUME {% endblock %}

{% block body %}
<div class = "container resume-container">
    <div class = "resume-header-div">
        <h3 class = "resume-header"> 
            Resume 
        </h3> 
        <a class = "btn rounded-pill resume-download bg" href="static/CanaleBritniResume.pdf" download> 
            <i class = "fas fa-download"></i> Download
        </a>
    </div>
    <div class = "row justify-content-center">
        <div class = "resume-div col">
            <img class = "resume" src="static/CanaleBritniResume.jpg"/>
        </div>
    </div>
</div>
{% endblock %} 
