{% extends "base.html" %}

{% block title %} BRITNI CANALE | SKILLS {% endblock %}

{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/skills.js') }}"></script>

{% endblock %}


{% block body %}
<div class = "col"> 
    <div class="skills-header-div">
        <h3 class = "skills-page-header"> Skills </h3>  
        <span class="text-small tooltiptext">Click on a skill to learn more</span>
    </div>
    <h5 class = "skill-header"> Technical Skills </h5>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseJava" role="button" aria-expanded="true" aria-controls="collapseJava">
        <img class = "icon" src = "static/java_logo.png"> 
        Java
    </a>
    <div class="collapse" id="collapseJava">
        <div class="card card-body">
            <h6> Java </h6>
            I learned Java for the first time in AP Computer Science during my junior year of high school. Since then, I've worked with it in college during my freshman year of college in Object Oriented Programming & Data Structures. I also used Java during my Summer and Fall 2020 internships while working on the backend of my team's application.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapsePython" role="button" aria-expanded="true" aria-controls="collapsePython">
        <img class = "icon" src = "static/python-logo.png"> 
        Python
    </a>
    <div class="collapse" id="collapsePython">
        <div class="card card-body">
            <h6> Python </h6>
            I first learned Python in my senior year of high school during a Software Development course. Since then, I've used it for personal web development projects, including this one.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseOcaml" role="button" aria-expanded="true" aria-controls="collapseOcaml">
        <img class = "icon" src= "static/ocaml-logo.png"> 
        OCaml
    </a>
    <div class="collapse" id="collapseOcaml">
        <div class="card card-body">
            <h6> OCaml </h6>
            I learned OCaml during my sophomore year of college during Data Structures and Functional Programming. 
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseHTML" role="button" aria-expanded="true" aria-controls="collapseHTML">
        <img class = "icon" src= "static/html-logo.png"> 
        HTML
    </a>
    <div class="collapse" id="collapseHTML">
        <div class="card card-body">
            <h6> HTML </h6>
            I first learned HTML in my senior year of high school during a Software Development course. Since then, I've used it during my Summer and Fall 2020 internships for the front-end of my team's application.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseCSS" role="button" aria-expanded="true" aria-controls="collapseCSS">
        <img class = "icon" src= "static/css-logo.png"> 
        CSS
    </a>
    <div class="collapse" id="collapseCSS">
        <div class="card card-body">
            <h6> CSS </h6>
            I first learned CSS in my senior year of high school during a Software Development course. Since then, I've used it during my Summer and Fall 2020 internships for the front-end of my team's application.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseJS" role="button" aria-expanded="true" aria-controls="collapseJS">
        <img class = "icon" src= "static/JavaScript-logo.png"> 
        JavaScript
    </a>
    <div class="collapse" id="collapseJS">
        <div class="card card-body">
            <h6> JavaScript </h6>
            I was first introduced to JavaScript during my senior year of highschool in a Software Development course. However, I learned JavaScript more in-depth during my Summer 2020 internship, during which I used it on the front-end of my team's application. Finally, I've used JavaScript for the entirety of my Summer 2022 internship.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseTS" role="button" aria-expanded="true" aria-controls="collapseTS">
        <img class = "icon" src= "static/ts-logo.png"> 
        TypeScript
    </a>
    <div class="collapse" id="collapseTS">
        <div class="card card-body">
            <h6> TypeScript </h6>
            I was introduced to TypeScript for the first time during my Summer 2020 internship, where I used it on the front-end of my team's application.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseBootstrap" role="button" aria-expanded="true" aria-controls="collapseBootstrap">
        <img class = "icon" src= "static/bootstrap-logo.svg"> 
        Bootstrap
    </a>
    <div class="collapse" id="collapseBootstrap">
        <div class="card card-body">
            <h6> Bootstrap </h6>
            I first learned Bootstrap in my senior year of high school during a Software Development course. Since then, I've used it for personal web development projects, including this one.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseAngular" role="button" aria-expanded="true" aria-controls="collapseAngular">
        <img class = "icon" src= "static/angular-logo.png"> 
        AngularJS
    </a>
    <div class="collapse" id="collapseAngular">
        <div class="card card-body">
            <h6> AngularJS </h6>
            I was introduced to AngularJS for the first time during my Summer 2020 internship, where I used it on the front-end of my team's application.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseSQL" role="button" aria-expanded="true" aria-controls="collapseSQL">
        SQL
    </a>
    <div class="collapse" id="collapseSQL">
        <div class="card card-body">
            <h6> SQL </h6>
            I first learned SQL in my senior year of high school during a Software Development course. Since then, I've used it during my Summer and Fall 2020 internships, where I used it on the backend of the application I worked on.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseFlask" role="button" aria-expanded="true" aria-controls="collapseFlask">
        <img class = "icon" src= "static/flask-logo.png"> 
        Flask
    </a>
    <div class="collapse" id="collapseFlask">
        <div class="card card-body">
            <h6> Flask </h6>
            I first learned Flask in my senior year of high school during a Software Development course. Since then, I've used it for personal web development projects, including this one.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseMongo" role="button" aria-expanded="true" aria-controls="collapseMongo">
        <img class = "icon" src= "static/mongo-db-logo.png"> 
        MongoDB
    </a>
    <div class="collapse" id="collapseMongo">
        <div class="card card-body">
            <h6> MongoDB </h6>
            I was introduced to MongoDB in my senior year of high school during a Software Development course.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseSpring" role="button" aria-expanded="true" aria-controls="collapseSpring">
        <img class = "icon" src= "static/spring-logo.ico"> 
        Spring
    </a>
    <div class="collapse" id="collapseSpring">
        <div class="card card-body">
            <h6> Spring </h6>
            I was introduced to Spring for the first time during my Summer 2020 internship, where I used it on the backend of my team's application.

        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseFoundation" role="button" aria-expanded="true" aria-controls="collapseFoundation">
        Foundation
    </a>
    <div class="collapse" id="collapseFoundation">
        <div class="card card-body">
            <h6> I was introduced to Foundation in my senior year of high school during a Software Development course. </h6>
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseCode" role="button" aria-expanded="true" aria-controls="collapseCode">
        <img class = "icon" src= "static/vscode-logo.png"> 
        VSCode
    </a>
    <div class="collapse" id="collapseCode">
        <div class="card card-body">
            <h6> VSCode </h6>
            I used VSCode for the first time during my Summer 2020 internship. Since then I've used it for all of my personal projects and for my Data Structures and Functional Programming class.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseEclipse" role="button" aria-expanded="true" aria-controls="collapseEclipse">
        <img class = "icon" src= "static/eclipse-logo.png"> 
        Eclipse
    </a>
    <div class="collapse" id="collapseEclipse">
        <div class="card card-body">
            <h6> Eclipse </h6>
            I used Eclipse during my freshman year of college during my Object-Oriented Programming & Data Structures class.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseEmacs" role="button" aria-expanded="true" aria-controls="collapseEmacs">
        <img class = "icon" src= "static/emacs-logo.png"> 
        Emacs
    </a>
    <div class="collapse" id="collapseEmacs">
        <div class="card card-body">
            <h6> Emacs </h6>
            I used Emacs during my junior year of highschool during my AP Computer Science class.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseDO" role="button" aria-expanded="true" aria-controls="collapseDO">
        <img class = "icon" src= "static/digital-ocean-logo.png"> 
        Digital Ocean
    </a>
    <div class="collapse" id="collapseDO">
        <div class="card card-body">
            <h6> Digital Ocean </h6>
            I used Digital Ocean in my senior year of high school during a Software Development course to deploy our projects. Since then, I've used it for personal web development projects, including this one.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseHeroku" role="button" aria-expanded="true" aria-controls="collapseHeroku">
        <img class = "icon" src= "static/heroku-logo.png"> 
        Heroku
    </a>
    <div class="collapse" id="collapseHeroku">
        <div class="card card-body">
            <h6> Heroku </h6>
            I used Digital Ocean in the summer after my senior year of high school during a program called FinTech Focus to deploy our projects. Since then, I've used it for personal web development projects.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseWCAG" role="button" aria-expanded="true" aria-controls="collapseWCAG">
        WCAG 
    </a>
    <div class="collapse" id="collapseWCAG">
        <div class="card card-body">
            <h6> WCAG </h6>
            Throughout my internship at Google during Summer 2022, I learned a lot about the importance of accessibility within web applications. I became extremely familiar with the Web Content Accessibility Guidelines and implemented several solutions that helped the Google Maps JS API meet them.
        </div>
    </div>
    <h5 class = "skill-header"> Soft Skills </h5>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseCommunication" role="button" aria-expanded="true" aria-controls="collapseCommunication">
        Communication
    </a>
    <div class="collapse" id="collapseCommunication">
        <div class="card card-body">
            <h6> Communication </h6>
             I use my communication skills daily. During the school year, I'm often working with other students on different projects or collaborating on problem sets. During my internships, I am constantly messaging my colleagues, emailing my superiors, meeting over Zoom with mentors, and presenting my work. All of this practice has made me a fantastic communicator.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseLeader" role="button" aria-expanded="true" aria-controls="collapseLeader"">
        Leadership
    </a>
    <div class="collapse" id="collapseLeader">
        <div class="card card-body">
            <h6> Leadership </h6>
            I have an empathetic leadership style. Whenever I assume the role of a leader, I always make sure to take into account the opinions of all of my teammembers. This is important because it's always better to get multiple points of view when making decisions. This also conveys to my teammembers that I respect and trust them, and I believe the best teams are built on mutual respect and trust.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseAdapt" role="button" aria-expanded="true" aria-controls="collapseAdapt">
        Adaptation
    </a>
    <div class="collapse" id="collapseAdapt">
        <div class="card card-body">
            <h6> Adaptation </h6>
            I have had to use my adaptability a lot in the last two years. With the onset of the coronavirus pandemic, many people's lives shifted dramatically, and as a result they had to adapt to succeed. I had to leave school on short notice and finish the rest of my Spring 2020 semester online. Additionally, during summer 2020 I worked full-time virtually for the first time. I encountered a lot of changes, and my ability to adapt is what allowed me to succeed in these situations. 
        </div>
    </div><a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseTeamwork" role="button" aria-expanded="true" aria-controls="collapseTeamwork">
        Teamwork
    </a>
    <div class="collapse" id="collapseTeamwork">
        <div class="card card-body">
            <h6> Teamwork </h6>
            I have worked with teams in many different settings, both in college and during internships. I work well within teams because I am good at identifying my role within a team. In some occasions, I am the most experienced on a team and will take a leadership role. In other situations, I am on a team with more skilled individuals, and take on the role of a learner. This allows me to communicate effectively with my team. 
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseOrganization" role="button" aria-expanded="true" aria-controls="collapseOrganization">
        Organization
    </a>
    <div class="collapse" id="collapseOrganization">
        <div class="card card-body">
            <h6> Organization </h6>
            I am an extremely organized person. Whenever I know I have any events or meetings coming up, I always immediately put them in my calendar. Any tasks I have to complete go in my to-do list. I am also good at prioritizing my tasks. These habits ensure that I always show up on-time and meet deadlines.
        </div>
    </div>
    <a class="skill btn badge rounded-pill bg text-dark" data-bs-toggle="collapse" href="#collapseDetail" role="button" aria-expanded="true" aria-controls="collapseDetail">
        Attention to Detail
    </a>
    <div class="collapse" id="collapseDetail">
        <div class="card card-body">
            <h6> Attention to Detail </h6>
            I am very attentive to detail. This skill helps me identify bugs, of which I have found many throughout my internships. This also allows me to think of edge cases that others may not have considered. My attention to detail prevents me from making mistakes and allows me to verify that things work as expected.
        </div>
    </div>
</div>
{% endblock %} 